* {
    font-family: Fira Code, IBM Plex, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
	padding: 0;
	min-height: 0; 
}

window#waybar {
    color: #f9f5d7;
    background-color: #121212;
	border-bottom: 1px solid #a89984;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
	padding: 2px;
}

#workspaces button {
    color: #d65d0e;
	border-bottom: 1px solid #a89984;
}

#workspaces button:hover {
    background-color: #b8bb26;
	opacity: .75;
}

#workspaces button.active {
	color: #121212;
    background-color: #b8bb26;
	opacity: 1;
}

#workspaces button.urgent {
	color: #121212;
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    background-color: #121212;
    color: #b8bb26;
    padding: 0 8px;
	border-left: 1px solid #b8bb26;
	border-bottom: 1px solid #a89984;
}

#window,
#workspaces {
    margin: 0 4px;
}

#taskbar button:hover {
    background: #a89984;
	color: #121212;
}

#taskbar button.active {
    background-color: #d65d0e;
	color: #f9f5d7;
	border-top: 1px solid #a89984;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
}

#battery {
}

#battery.charging, #battery.plugged {
    background-color: #98971a;
	color: #121212;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #d79921;
    color: #fb4934;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#disk {
}

#backlight {
    background-color: #689d6a;
}

#network {
}

#network.disconnected {
    background-color: #a89984;
	color: #121212;
}

#pulseaudio {
}

#pulseaudio.muted {
    background-color: #a89984;
    color: #121212;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #8ec07c;
}

#mpd {
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}
